.NavbarItems{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 80px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);

}

.navbar-logo {
    color: #000000;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 20px;
    list-style: none;
    align-items: center;

}

.nav-links{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 8px;
}

.nav-links:hover{
    background-color: rgb(227, 111, 111);
    color: #000;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile{
    display: none;
}

button{
    background-color: rgb(203, 236, 159);
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #0e0d0d;
    color: rgb(254, 244, 244);
}


.btn-login{
    background-color: rgb(204, 204, 202);
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    
}


.menu-icons {
    display:none;
}




@media screen and (max-width: 850px){
    .NavbarItems{
        z-index: 99;
    }
    .nav-menu{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgb(246, 253, 236);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        
    }

    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;

    }

    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .nav-links:hover{
        background: #cf5a5a;
        transition: none;
        
    }

    button{
        display: none;
    }

    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background:  rgb(203, 236, 159);
        text-decoration: none;
        color: #0e0d0d;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 2px;

    }

    .menu-icons {
        display:block;
    }

    .menu-icons i{
        font-size: 1.2rem;
        color: #000;
    }

}


