@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.App{
    font-family: sans-serif;
    /* text-align: center; */
}

:root{
    --primaryColor : hsl(94 , 59% , 35%);
    --HoverColor : #bdf094;
    --paleGreen : hsl(96 , 75% , 89%);
    --textColour: hsl(240, 1% , 48%);
    --greyText: rgb(190, 190 , 190);
    --inputColour :hsl(330 , 12% , 97%);
    --bgColour: hsl(220,10%,94%);
}